<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="http://localhost:8080/dist/cmsBootstrap.css">
  </head>
  <body>
    <div id="root-element" class="container-fluid"> </div>
    <script type="text/javascript" src="http://localhost:8080/dist/index.js"></script>
  </body>
</html>
